
a{
    text-decoration: none;
    color: inherit; 
    width: 100%;
  }

/* {
    font-family: 'Gabarito',sans-serif;
  } */

  .MuiButton-root {
    background-color: transparent;
    color: black; 
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    text-decoration: none; 
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .MuiButton-root:hover {
    background-color: transparent;
    color: white; 
    box-shadow: none;
    border: solid 1px black; 
    width: 100%;
  }


  .menu-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 5px;
    width: 100%;
    gap: 60px;
    height: 50px;
    background-color: rgb(4, 92, 122);
  }
  
  .logo {
    width: 45px;
    height: auto;
    cursor: pointer;
    display: block; /* Añadido */
    margin: 0 auto; /* Añadido */
  }


.MuiButton-root{
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 35px;
}