.container_plandenegocios{
    display: flex;
    flex-direction: column;
}

.descripción_plan_negocios{
background-image: url("../../assets/plan_de_negocios_background.jpg");
background-repeat: no-repeat;
margin: 0;
width: 100%;
height: auto;
padding: 10px;
background-size:cover;
}
.descripcion_texto{
    width: 100%;
    background-color: rgb(243, 187, 148);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img_personas{
    width: 60%;
    padding-bottom: 20px;
}

.descripcion__tata{
    background-color: rgb(232, 125, 145);
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 60px 0 60px 90px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.descripcion_dupla{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(232, 234, 236);
    padding: 40px 0 40px 0;
    text-align: center;
}

.img_cuerpo{
    border-radius: 40px;
    width: 60%;
}

.cuadros{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.descripcion_final{
    background-color: rgb(181, 218, 237);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 60px 0 60px 90px;
    text-align: justify;
    gap: 60px;
    justify-content: center;
}

