p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}
.descripcion{

    margin-left: 40px;
    max-width: 800px;
}

.quienes_somos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0 40px 0;
    text-align: center;
    background-color: rgb(181, 218, 237);
}

.img_texto{
    display: grid;
    grid-template-columns: 350px 350px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: rgba(232, 125, 145, 0.59);
    padding: 60px 0;
    gap: 60px;
}


.section-img-texto{
    max-width: 350px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.texto_empresa{
    width: 800px;
}

.img{
    height: 350px;
    width: 350px;
    border-radius: 20px;
}

.vision{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
    background-color: rgba(232, 125, 145, 0.59);
}

.valores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: rgb(243, 187, 148);
}
.valores-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: stretch;
}

.valores1, .valores2{
    width: 330px;
}

.mision{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
    background-color: rgb(181, 218, 237);
}

@media screen and (max-width: 768px) {
    .quienes_somos{
        padding: 100px 20px 40px 80px;
    }
    .titulo{
        padding: 20px;
        margin: 0;
    }
    .descripcion{
            font-size: 1.3rem;
            padding: 0 20px;
            margin: 0;
    }
    .section-img-texto{
        width: 300px;
        height: 419px;
    }
    .img_texto{
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        padding-left: 65px;
        margin: 0;
    }
    .img{
        width: 300px;
        height: 300px;
    }
    .texto_empresa{
        font-size: 1.3rem;
        width: 650px;
    }
    .mision, .vision{
        padding-left: 75px;
        align-items: center;
    }
    p{
        font-size: 1.2rem;
        margin: 0;
    }

    .valores{
        padding: 40px 0;
        text-align: center;
        align-items: center;
    }

    .valores-img{
        grid-template-columns: 1fr;
    }

    .valores1{
        padding: 20px;

    }
}

@media screen and (max-width: 667px){


.quienes_somos{
    padding: 100px 0 20px 60px;
}
.img{
    padding-bottom: 10px;
}
.img_texto{
    grid-template-columns: 1fr;
    padding: 20px 0 20px 60px;
}
.section-img-texto{
    padding-bottom: 20px;
}
.mision, .vision{
    padding: 20px 0 20px 60px;
}
.texto_empresa{
    width: 350px;
    font-size: 1.2rem;
}

.valores{
    align-items: center;
    padding-left: 20px;

}
}