.container-app{
    background-color: rgb(181, 218, 237);
    display: flex;
    flex-direction: row;
    padding: 40px;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    
}
.app{
    margin: 0;
    padding: 80px;
    max-width: 800px;
}

.botones-store{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 20px;
}
.img-celus{
    width: 650px;
}